@keyframes 
fadein { from {
transform:scale(0, 0);
}

to { transform: scale(1, 1); }
}

/* Firefox < 16 */
@-moz-keyframes 
fadein { from {
transform:scale(0, 0);
}

to { transform: scale(1, 1); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes 
fadein { from {
transform:scale(0, 0);
}

to { transform: scale(1, 1); }
}

/* Internet Explorer */
@-ms-keyframes 
fadein { from {
transform:scale(0, 0);
}

to { transform: scale(1, 1); }
}

/* Opera < 12.1 */
@-o-keyframes 
fadein { from {
transform:scale(0, 0);
}
}
@keyframes 
fadein2 { from {
transform:scale(1, 1);
}

to { transform: scale(0, 0); }
}

/* Firefox < 16 */
@-moz-keyframes 
fadein2 { from {
transform:scale(1, 1);
}

to { transform: scale(0, 0); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes 
fadein2 { from {
transform:scale(1, 1);
}

to { transform: scale(0, 0); }
}

/* Internet Explorer */
@-ms-keyframes 
fadein2 { from {
transform:scale(1, 1);
}

to { transform: scale(0, 0); }
}

/* Opera < 12.1 */
@-o-keyframes 
fadein2 { from {
transform:scale(1, 1);
}
}

body {
  background: #021b21;
  transition: all 4s;
  overflow-x: hidden;
  margin: 0 0 0 0;
}

.hover { transform: scale(50, 50); }

.rect1,
.rect2,
.rect3 {
  -webkit-transition: all 800ms cubic-bezier(0.980, 0.005, 0.000, 0.995);
  -moz-transition: all 800ms cubic-bezier(0.980, 0.005, 0.000, 0.995);
  -o-transition: all 800ms cubic-bezier(0.980, 0.005, 0.000, 0.995);
  transition: all 800ms cubic-bezier(0.980, 0.005, 0.000, 0.995); /* custom */
}

.Menu {
  background: #dc403b;
  width: 200px;
  -webkit-transition: all 800ms cubic-bezier(0.980, 0.005, 0.000, 0.995);
  -moz-transition: all 800ms cubic-bezier(0.980, 0.005, 0.000, 0.995);
  -o-transition: all 800ms cubic-bezier(0.980, 0.005, 0.000, 0.995);
  transition: all 800ms cubic-bezier(0.980, 0.005, 0.000, 0.995); /* custom */
  height: 200px;
  border-radius: 50%;
  z-index: 99;
  float: right;
  margin-right: -155px;
  margin-top: -100px;
}

.Menu2 {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: absolute;
}

#menulogo {
  margin-right: 25px;
  position: relative;
  z-index: 999;
  float: right;
  -webkit-transition: all 500ms cubic-bezier(0.000, 1, 0.985, 0.990); /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.000, 1.650, 0.985, 0.990);
  -moz-transition: all 500ms cubic-bezier(0.000, 1.650, 0.985, 0.990);
  -o-transition: all 500ms cubic-bezier(0.000, 1.650, 0.985, 0.990);
  transition: all 500ms cubic-bezier(0.000, 1.650, 0.985, 0.990); /* custom */
  margin-top: 25px;
}

#menulogo:hover { -webkit-transform: scale(1.1, 1.1); }

#menulogo:hover { cursor: pointer; }

#home {
  height: 100vh;
  margin-top: -65px;
  width: 100%;
  background:#fff;
  
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  text-transform: uppercase;
  background-attachment: fixed;
}

#home h1 {
  text-align: center;
  color: #FFF;
  text-shadow: 0px 2px 0px rgba(0,0,0,0.5);
  padding-top: 32vh;
  font-size: 8vh;
}

.allMenu {
  width: 100%;
  height: 100px;
  position: fixed;
}

ul {
  position: absolute;
  z-index: 9999;
  margin-top: -100px;
  -webkit-transition: all 800ms cubic-bezier(0.980, 0.005, 0.000, 0.995);
  -moz-transition: all 800ms cubic-bezier(0.980, 0.005, 0.000, 0.995);
  -o-transition: all 800ms cubic-bezier(0.980, 0.005, 0.000, 0.995);
  transition: all 800ms cubic-bezier(0.980, 0.005, 0.000, 0.995); /* custom */
  margin-left: auto;
  margin-right: auto;
  margin-right: 200px;
  width: 80%;
}

ul li {
  display: inline-block;
  float: right;
  -webkit-transition: all 400ms cubic-bezier(0.980, 0.005, 0.000, 0.995);
  -moz-transition: all 400ms cubic-bezier(0.980, 0.005, 0.000, 0.995);
  -o-transition: all 400ms cubic-bezier(0.980, 0.005, 0.000, 0.995);
  transition: all 400ms cubic-bezier(0.980, 0.005, 0.000, 0.995); /* custom */
  margin-left: -4px;
  padding-left: 40px;
  padding-right: 80px;
  height: 100px;
  line-height: 100px;
}

ul li:hover {
  background: #f4807c;
  transform: scale(1.2, 1.2);
  box-shadow: 5px 1px 10px rgba(0,0,0,0.3);
}

ul li a {
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  font-weight: 700;
}

ul li a:hover { cursor: pointer; }
